@CHARSET "EUC-KR";

#main
{
	width: 815px;
}

#messages
{
	width: 600px;
	border: 1px solid lightblue;
	padding: 10px 10px;
}

#messages .sender_list
{
	list-style-type: none;
	padding: 5px 5px;
	height: 50px;
	border: 1px solid lightblue;
}
/*
#messages .ul_over
{
	background: lightblue url(../img/reverse.gif) no-repeat 80% 70%;
}
*/

#messages .sender_list li
{
/*margin-left: 70px;*/
	margin-top: 15px; 
}

#messages .sender_img
{
	float: left;
}

#messages .sender_name
{
	margin-left: 20px;
	font-size: 20px;
	font-weight: bold;
	color: lightblue;
}

#messages .count
{
	float: right;
	margin-right: 10px;
	font-size: 20px;
	font-weight: bold;
	color: gray;
}
/*
#messages .over_name
{
	margin-left: 100px;
	margin-top: 0px;
	font-size: 30px;
	font-weight: bold;
	color: white;
}*/

#messages .div_dm
{
	border: 1px solid lightblue;
	display: none;
}

#messages .div_dm .getDm_list, .sentDm_list
{
	list-style-type: none;
	margin: 10px 10px;
	padding: 5px 5px;
	min-height: 30px;
	border-bottom: 1px solid lightblue; 
	display: none;
}

#messages .getDm_list li, .sentDm_list li
{
	margin: 10px 10px;
}

#messages .div_dm .getDm_list .dm_date
{
	text-align: right;
	color: gray;
	font-size: 15px;
}

#messages .div_dm .getDm_list img
{
	float: left;
	margin: 10px 10px;
}

#messages .div_dm .sentDm_list .dm_date
{
	text-align: left;
	color: gray;
	font-size: 15px;
}

#messages .div_dm .sentDm_list img
{
	float: right;
	margin: 10px 10px;
}

#messages .div_dm .getDm_list .dm_delete
{
	text-align: right;
}

#messages .div_dm .sentDm_list .dm_delete
{
	text-align: left
}

#messages .div_dm .getDm_list .dm_delete a , .div_dm .sentDm_list .dm_delete a
{
	text-decoration: none;
}

#messages .div_dm .getDm_list .dm_delete a:link, .div_dm .getDm_list .dm_delete a:visited, .div_dm .sentDm_list .dm_delete a:link, .div_dm .sentDm_list .dm_delete a:visited
{
	color: gray;
	font-size: 11px;
}

#messages .div_dm .getDm_list .dm_delete a:hover, .div_dm .sentDm_list .dm_delete a:hover
{
	font-weight: bold;
}

#messages .div_dm .page
{
	text-align: center;
	margin: 10px 10px;
}
#messages .div_dm .page .page_button
{
	color: lightblue;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 30px;
}


#messages #empty
{
	display: block;
	color: lightblue;
	font-size: 20px;
	font-weight: bold; 
	text-align: center;
	
}




