@CHARSET "UTF-8";
/*padding: 10px 20px; ->  10px는 top, bottom에 적용되고 20px는 left, right에 적용된다*/
	#menu_bar
	{
		width: 775px; 
		padding: 10px 20px;	
		text-align: center;
		border: 1px solid red;
	}
	
	#menu_bar span
	{
		padding-right: 30px;
		margin-left: 10px;	/*firefox에서는 margin값이 각각 적용되어 <sapn>간의 사이에 각 margin이 적용되 20px의 공간이 생김*/
		margin-right: 10px;	
		color: lightblue;	/*글씨 색상*/
		font-weight: bold;
		font-size: 20px;
	}
	
	
	#menu_bar span a
	{
		text-decoration: none;
	}
	
	#menu_bar span  a:link, 	#menu_bar span a:visited
	{
		color: lightblue;
	}